* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #1a1a1a, #000);
    font-family: "Poppins", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.scoreboard {
    text-align: center;
    font-size: 20px;
}

.container {
    position: relative;
    height: 750px;
    width: 750px;
    background-color: #222;
    border: 2px solid #555;
    box-shadow: 0 0 20px #0f0;
    overflow: hidden;
    border-radius: 10px;
}

.box {
    height: 50px;
    width: 50px;
    background-color: limegreen;
    border-radius: 10px;
    position: absolute;
    top: 350px;
    left: 350px;
    transition: top 0.1s linear, left 0.1s linear;
    /* smooth movement */
}

#food {
    background-color: red;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 0 10px red;
    transition: top 0.2s, left 0.2s;
}